APP_NAME=PDV-Sorveteria
APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost
APP_KEY=

LOG_CHANNEL=stack
LOG_LEVEL=debug

DB_CONNECTION=pgsql
DB_HOST=db
DB_PORT=5432
DB_DATABASE=pdv
DB_USERNAME=pdv
DB_PASSWORD=secret

BROADCAST_DRIVER=log
CACHE_DRIVER=redis
FILESYSTEM_DISK=local
QUEUE_CONNECTION=redis
SESSION_DRIVER=redis
SESSION_LIFETIME=120

REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379

SANCTUM_STATEFUL_DOMAINS=localhost
SESSION_DOMAIN=localhost

CORS_ALLOWED_ORIGINS=http://localhost:5173

HARDWARE_AGENT_URL=http://host.docker.internal:9100
