/vendor/
.env
.storage/
storage/framework/cache/data/
storage/framework/sessions/
storage/framework/views/
storage/logs/*.log
!storage/logs/.gitkeep
.phpunit.result.cache
Homestead.json
Homestead.yaml
